.content {
    display: grid;
    grid-gap: 20px;
    font-family: "Trirong", serif;
    grid-template-areas:
            "m m m m m"
            ". t1 . t2 ."
            ". i1 . i2 ."
            ". t3 . t4 ."
            ". i3 . i4 ."
            " f f f f f ";
}
body{
    background-image:url(../img/background.jpg););
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.left-input {
    grid-column: 2 / span 1;
}

.right-input {
    grid-column: 4 / span 1;
}

.header {
    padding: 10px;
    background-color: rgba(96, 40, 4, 1);
    color: rgb(250, 250, 250);
    font-family: "Trirong", serif;
    font-size: 50px;
    display: flex;
    align-items: center;
}
.bold {
    font-weight: bold;
    color: goldenrod;
}

.navbar {
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.6);
    color: rgb(250, 250, 250);
    font-family: "Trirong", serif;
    text-align:right;
    margin-bottom:20px;
}
a {
    margin-right:10px;
}

a:link {
    color: goldenrod;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color:darkred;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}
.responsive{
    max-width: 100%;
    height: auto;
}
.main {
    display: flex;
    grid-area: m;
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.5);
    color: rgb(250, 250, 250);
}

.infotext1 {
    grid-area: i1;
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.5);
    color: rgb(250, 250, 250);
}

.infotext2 {
    grid-area: i2;
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.5);
    color: rgb(250, 250, 250);
}

.infotext3 {
    grid-area: i3;
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.5);
    color: rgb(250, 250, 250);
}
.infotext3 {
    grid-area: i3;
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.5);
    color: rgb(250, 250, 250);
}
.infotext4 {
    grid-area: i4;
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.5);
    color: rgb(250, 250, 250);
}

.textheader1 {
    text-align: center;
    font-size: 20px;
    grid-area: t1;
    background-image:url("../img/cthulu3.png") ;
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.5);
    color: rgb(250, 250, 250);
}

.textheader2 {
    text-align: center;
    font-size: 20px;
    grid-area: t2;
    background-image:url("../img/cthulu3.png") ;
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.5);
    color: rgb(250, 250, 250);
}

.textheader3 {
    text-align: center;
    font-size: 20px;
    grid-area: t3;
    background-image:url("../img/cthulu3.png");
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.5);
    color: rgb(250, 250, 250);
}
.textheader4 {
    text-align: center;
    font-size: 20px;
    grid-area: t4;
    background-image:url("../img/cthulu3.png");
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.5);
    color: rgb(250, 250, 250);
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #3C368C;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#backToTopBtn:hover {
    background-color: #555;
}




      /*  .content {
            display: grid;
            grid-gap: 20px;
            font-family: "Trirong", serif;
            grid-template-areas:
        ". m m m . "
        ". t1 . t2 ."
        ". i1 . i2 . "
        "f f f f f";
        }*/

@media (max-width: 768px) {
    .content {
        grid-template-areas:
            ". m m m . "
            ". t1 t1 t1 . "
            ". i1 i1 i1 . "
            ". t2 t2 t2 . "
            ". i2 i2 i2 . "
            ". t3 t3 t3 . "
            ". i3 i3 i3 . "
            ". t4 t4 t4 . "
            ". i4 i4 i4 . "
            "f f f f f";
    }
}
/*@media (max-width: 768px) {

body {
        grid-template-areas:
                    "m"
                    "t1"
                    "i1"
                    "t2"
                    "i2"
                    "t3"
                    "i3"
                    "t4"
                    "i4"
                    "f";
    }
}*/

.container{
    display:flex;
}

.footer {
    grid-area: f;
    padding: 10px;
    background-color: rgba(96, 40, 4, 0.7);
    color: rgb(250, 250, 250);
}