body {
    display: grid;
    background-image: url(https://img.freepik.com/vektoren-kostenlos/abstrakter-hintergrund-mit-einem-vintage-papierdesign_1048-14629.jpg?w=2000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    gap: 20px;
    font-family: "Trirong", serif;
    grid-template-areas:
            "h h h h h "
            "n n n n n "
            "m m m m m "
            ". t1 . t2 ."
            ". i1 . i2 . ";
}

.left-input {
    grid-column: 2 / span 1;
}

.right-input {
    grid-column: 4 / span 1;
}

.header {
    grid-area: h;
    padding: 10px;
    background-color:rgba(96, 40, 4, 1);
    color: rgb(250,250,250);
}

.navbar {
    grid-area: n;
    padding: 10px;
    background-color:rgba(96, 40, 4, 0.5);
    color: rgb(250,250,250);

}

.main {
    grid-area: m;
    padding: 10px;
    background-color:rgba(96, 40, 4, 0.5);
    color: rgb(250,250,250);
}

.infotext1 {
    grid-area: i1;
    padding: 10px;
    background-color:rgba(96, 40, 4, 0.5);
    color: rgb(250,250,250);
}


.infotext2 {
    grid-area: i2;
    padding: 10px;
    background-color:rgba(96, 40, 4, 0.5);
    color: rgb(250,250,250);
}

.textheader1 {
    grid-area: t1;
    padding: 10px;
    background-color:rgba(96, 40, 4, 0.5);
    color: rgb(250,250,250);
}

.textheader2 {
    grid-area: t2;
    padding: 10px;
    background-color:rgba(96, 40, 4, 0.5);
    color: rgb(250,250,250);
}

@media (max-width: 768px) {
    body {
        grid-template-areas:
                    "h"
                    "n"
                    "m"
                    "t1"
                    "i1"
                    "t2"
                    "i2";
    }
}
