*{
outline: #4CAF50 solid 10px;
}

.center {
    place-items: center;
}

body {
    display: grid;
    gap: 20px;
    grid-template-areas:
            "h h h h h "
            "n n n n n "
            "m m m m m "
            ". t1 . t2 ."
            ". i1 . i2 . ";
}

.header {
    grid-area: h;
    padding: 10px;

}
.navbar {
    grid-area: n;
    padding: 10px;

}

.main {
    grid-area: m;
    padding: 10px;
}

.infotext1 {
    grid-area: i1;
    place-items: center;
    padding: 10px;
}
.infotext2 {
    grid-area: i2;
    place-items: center;
    padding: 10px;
}

.textheader1{
    grid-area: t1;
    padding: 10px;
}
.textheader2{
    grid-area: t2;
    padding: 10px;
}
@media (max-width: 768px) {
    body {
        grid-template-areas:
                    "h"
                    "n"
                    "m"
                    "t"
                    "i";
    }
}
